.workExperience {
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(85, 85, 85, 0.719);
    display: flex;
    flex-direction: column;
    align-items: center;

    &_title {
        font-family: 'PNBC-ExtraBold';
        align-self: flex-start;
        margin-left: 1rem;
    }

}