@import './config/variables';
@import './config/fonts';

@import './components/header';
@import './components/information';
@import './components/workExperience';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    min-height: 100vh;
    width: 100vw;
    border: none;
    background-image: url('./../img/fondo.png');
    background-size: contain;

}

