@font-face{ 
	font-family: 'PNBC-Bold';
	src: url('../fonts/PostNoBillsColombo-Bold.ttf')
}

@font-face{ 
	font-family: 'PNBC-ExtraBold';
	src: url('../fonts/PostNoBillsColombo-ExtraBold.ttf')
}

@font-face{ 
	font-family: 'PNBC-Light';
	src: url('../fonts/PostNoBillsColombo-Light.ttf')
}

@font-face{ 
	font-family: 'PNBC-Medium';
	src: url('../fonts/PostNoBillsColombo-Medium.ttf')
}

@font-face{ 
	font-family: 'PNBC-Regular';
	src: url('../fonts/PostNoBillsColombo-Regular.ttf')
}

@font-face{ 
	font-family: 'PNBC-SemiBold';
	src: url('../fonts/PostNoBillsColombo-SemiBold.ttf')
}